@import url('https://fonts.cdnfonts.com/css/avenir');

:host {
    width: 100%;
    top: 0;
    position: absolute;
}

* {
    font-family: 'Avenir', sans-serif;
    background-color: black;
}

.svg-sizing {
    height: 175px;
    margin: auto 80px;
}

img {
    margin: auto 80px;
    height: 175px;
}

.divider-bar {
    height: 350px;
    width: 2px;
    background-color: white;
}

.element-container {
    display: flex;
    justify-content: center;
    margin: auto 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}