@import url('https://fonts.cdnfonts.com/css/avenir');

:host {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
}

* {
    font-family: 'Avenir', sans-serif;
}

.page-container {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
}

.page-container p {
    top: 0;
}

.svg-sizing {
    z-index: 100;
    height: 50px;
    opacity: 50%;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profile-container {
    display: flex;
}

.profile {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: aqua;
    border: 2px solid white;
}

.inner-circle {
    transform: translateX(15px);
}

.message-container {
    z-index: 100;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.612);
    backdrop-filter: blur(8px);
}

.message-container p {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
}

.message-text {
    font-size: 25pt;
    color: white;
    text-align: center;
    margin: 10px 0;
}

img {
    width: 100%;
    height: 100%;
    position: fixed;
}

.title-container {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
}

.divider-bar {
    height: 350px;
    width: 2px;
    background-color: white;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(4px);
}

.element-container {
    display: flex;
    justify-content: center;
    margin: auto 0;
}

.title {
    font-size: 25pt;
    margin: auto 80px;
    color: white;
}

.svg-full-logo {
    height: 175px;
    margin: auto 80px;
}