@import url('https://fonts.cdnfonts.com/css/avenir');

:host {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
}

body {
    font-family: 'Avenir', sans-serif;
    background-color: black;
}

.page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generating-text {
    color: white;
    font-size: 25pt;
    text-align: center;
    animation: loading 10s both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.svg-sizing {
    height: 175px;
    width: 15%;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash 20s both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

svg {
    overflow: visible;
    width: 400px;
    margin: auto;
    text-align: center;
}

@keyframes dash {
    from {
        stroke-dashoffset: 2000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes loading {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blur-container {
    position: fixed;
    z-index: 25;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.306);
    backdrop-filter: blur(8px);
}

.page-container {
    z-index: 200;
}

.element-container {
    z-index: 200;
    padding: 10px;
    text-align: center;
}

svg path {
    fill: none;
}

.art-container {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

img.ng-star-inserted {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
}