@import url('https://fonts.cdnfonts.com/css/avenir');

* {
    font-family: 'Avenir', sans-serif;
    background-color: black;
}

.page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generating-text {
    color: white;
    font-size: 25pt;
    text-align: center;
    animation: loading 5s both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.svg-sizing {
    height: 175px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash 5s both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes dash {
    from {
        stroke-dashoffset: 2000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes loading {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}