<ng-container *ngIf="state$ | async as state">
    <div class="container" [ngSwitch]="true"><!-- this ngSwitch is a hack until ngSwitchCases: https://github.com/angular/angular/issues/14659 -->
        <app-home-screen [state]="state" *ngSwitchCase="state == State.IDLE || state === State.ONE_PERSON || state === State.MULTIPLE_PEOPLE || state === State.ONE_PERSON_WAVING" @enterTrigger></app-home-screen>
        <app-generating-art *ngSwitchCase="state === State.GENERATING" @enterTrigger></app-generating-art>
        <app-generated-image-slide *ngSwitchCase="state === State.PRESENTING" @enterTrigger></app-generated-image-slide>
    </div>
</ng-container>