@import url('https://fonts.cdnfonts.com/css/avenir');

* {
    font-family: 'Avenir', sans-serif;
}

.page-container {
    background-image: url(../../../assets/example-art.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.svg-sizing {
    height: 50px;
    opacity: 50%;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profile-container {
    display: flex;
}

.profile {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: aqua;
    border: 2px solid white;
}

.inner-circle {
    transform: translateX(15px);
}

.message-container {
    height: 65px;
    background-color: rgba(0, 0, 0, 0.612);
    backdrop-filter: blur(8px);
}

.message-text {
    font-size: 25pt;
    color: white;
    text-align: center;
    margin: 10px 0;
}